body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    width: 86%;
    margin: auto;
}

.header{
    background-color: rgb(34, 31, 31);
    color: white;
    /* height: 100px; */
    /* overflow coloca a altura do header automatico de acordo com os itens que estão dentro do elemento  */
    overflow: auto; 
    border-bottom: 3px solid rgb(240, 90, 35);
    padding: 28px 0 12px 0;
    position: fixed; 
    width: 100%; 
    top: 0; 
}

 a {
    text-decoration: none;
    color: white;
}

.navbar li :hover{
  color:rgb(240, 90, 35);
  transition: 50ms;
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  padding: 3px 7px;
}

.titulo{
    margin: 0;
    float: left;
  
}

.navbar{
    float: right;
    list-style: none;
}

li{
     cursor: pointer;
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}

.destaque{
    color:rgb(240, 90, 35)
}
/* banner */

.banner{
   text-align: center;
   background-image: url(../imgs/banner-fundo-big.jpeg);
   background-color: #b1b1b1;
   background-repeat: no-repeat;
   height: 300px;
   background-size: cover;
}
.banner h1 {
    margin: 0;
    font-size: 40px;
    padding-top: 100px;
}

/*Saber mais*/
.saiba-mais button{
border: 0;
background-color:orangered;
color: white;
text-transform: uppercase;
padding: 10px 30px;
margin-top:30px ;
cursor: pointer;
}
.saiba-mais{
    text-align: center;
    background-color:rgb(33, 30, 30);
    height: 90px;
}
/*missão, visão, valores*/
.box img{
    height: 100px;
    
}
.box{
    overflow: auto;
}

.box-item{
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%
}
/*footer*/
.footer{
    height: 60px;
    padding: 15px;
    text-align: center;
    background-color: orangered;
}

.footer h4{
    text-transform: uppercase;
    color: white; 
}


/* pagina Sobre */

.sobreNos {
    overflow: auto;
}

.sobreImg {
    height: 350px;
    width: 100%;
    margin-bottom: 50px;
}
.conteudo{
    height: 500px;
    width: 50%;
    float: left;  
    text-align: center;  
}

.imgSobre{
    height:500px ;
    width: 50%;
    float:left;

}

.conteudo p {
    margin: 30px;
}


.imgSobre img{
    background-color: darkgray;
    margin:50px 50px 50px 50px;
    height: 340px;
}

.conteudo h2 {
  margin-top: 100px;
  
}

.preservar {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    float: left;
    padding-bottom: 140px;
}
.imgPreservar {
    height: 200px;
    float: left;
    width: 45%;
    margin-top: 100px;
    padding-bottom: 140px;
}

.imgPreservar img{
    padding-left: 100px;
}

/* estilo do login */
.pag_login{
    background-color: rgb(221, 210, 210);
    padding:230px 370px;
}

.box_login{
    border-radius: 10px;
    padding: 40px 20px ;
    background-color: rgb(33, 30, 30);
    color: white;
    margin: auto;
    text-align: center;
    box-shadow: 7px 7px 6px 1px rgb(75, 73, 73);
}

.box_login input{
     margin-top: 20px;
}

.box_login h1{
    margin: 0;
    
}

.box_login button{
    font-size: 15px;
    margin-top: 25px;
    padding: 3px 50px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    text-shadow: 1px 1px  1px rgb(28, 28, 29);
}